includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    tmpDir: storage/phpstan

    paths:
        - app/
        - config/
        - database/
        - Modules/Catalog/app/
        - Modules/Catalog/tests/
        - Modules/Order/app/
        - Modules/Order/tests/
        - routes/
        - tests/

    level: 5
